<h1>Créer une nouvelle maraude</h1>
<div class="container">
<%= render 'form' %>

<%= link_to dashboard_path, class: "btn btn-primary mt-4", aria: { label: "Revenir à mon tableau de bord" } do %>
  <i class="fas fa-home"></i>
<% end %>
</div>
