<h1>Bienvenue <%= current_user.email %></h1>
<h2>Mes maraudes créées</h2>
<% if current_user.maraudes.any? %>
  <ul>
    current.user.each do |maraude|
      <li><%= maraude.place %> - <%= maraude.date %> à <%= maraude.hour.strftime("%H:%M") %></li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n'avez pas encore créé de maraude.</p>
<% end %>

<h2>Créer une nouvelle maraude</h2>
